[2021-08-20 15:38] BobZombiE69 commented on #214
yes for me prune node is not working in version 1.0.7 and 1.0.8

[2021-08-23 07:50] Gamaroff commented on #214
I am having the same problem.
Glad its not just me!

[2021-08-23 08:45] matra774 commented on #214
@pinpins @BobZombiE69 @Gamaroff  To get a useful answer, please provide more detailed info about problems you are facing (answer questions that are listed when you create a new github issue). What does "prune node is not working mean". Did the app crash? Does ti just ignore the parameters? How did you observe this? Is any related error logged in bitcoind.log file....

[2021-08-23 09:54] BobZombiE69 commented on #214
I was on version 1.0.4 for months , with no-prune , without any problems.
10 days ago i used prune=5000 , then suddenly docker crashed with nospecial error in logs ,
and when i start the docker again, it says ....

and as you it will sync the block chain from the begining, and it will take days to sync again.

i restored last backup for about 10 times, try different versions, 1.0.6 to 1.0.8
again

[2021-08-23 11:29] matra774 commented on #214
Thanks, @BobZombiE69. We are currently not aware of any problems with prune mode.

Please make sure that your system  meet recommended requirements listed here: https://bitcoinsv.io/documentation/miners/system-requirements/.

Docker/OS can terminate the process if there are not enough system resources available - and there were some pretty large blocks on BSV mainnet recently (gigabytes, not megab

[2021-08-23 11:37] BobZombiE69 commented on #214
Thank you very much.
I didn't know about gigabyte size blocks !
So maybe  that could be the reason bchn and btc is working fine on the same machine, because their block size are much smaller.

[2021-08-23 16:29] BobZombiE69 commented on #214
Thank you very much.
**I can confirm that the system went down low on RAM (out of memory) , so OOM KILLER decides to kill the bitcoind process of bitcoin-sv**
my previous settings was:
blockmaxsize=4000000000
maxmempool=8000 #8G
dbcache=8192 #8G

for now i will try to reduce the ram usage and test if it can help, here are my new settings:

maxmempool=4000 #4G
dbcache=4192 #4G
blockmaxsize=8000000

[2021-08-24 07:50] Gamaroff commented on #214
I am also experiencing the same problem on 1.0.8

[2021-08-31 05:51] Polve opened #219 "Node stuck to block 700720 000000000000000029d80d3a20baa597c67174545dcdcefe391fd3b6c6705165"
My node, running version 1.0.8 is stuck to block hash 000000000000000029d80d3a20baa597c67174545dcdcefe391fd3b6c6705165 that I can't find on any block explorer.

I suppose there has been a fork that the client for some reason was unable to resolve.

I tried to manually invalidate some blocks and reconsider others, but without luck: can you give me any hints on how to go to main chain without syncin

[2021-09-09 15:39] lifengmds commented on #204
The same problem happened to me, switched to v1.0.7 which worked.

[2021-09-15 08:38] Klar commented on #214
same for me, pruning does not work i.e bigger disk size than configured via the bitcoin.conf setting (prune=20000).

Node Version 1.0.8

Worked before but the node crashed (because of the attacking forks) and had to reindex, since then pruning does not work.

[2021-09-15 10:43] Polve commented on #214
Same problem with me, I had to reindex everything with the node unusable for days

[2021-09-15 10:43] Polve commented on #219
Since no solution was give I had to do a full resync

[2021-09-15 10:43] #219 closed

[2021-09-15 15:51] mayong82 opened #220 "bitcoin-sv Out of sync, invalid header received"
Reaching height 699014 is out of sync, and the error reported in the inspection log is as follows:

2021-09-15 15:14:14 [msghand] New outbound peer connected: version: 70015, blocks=705450, peer=0
2021-09-15 15:14:17 [msghand] ERROR: AcceptBlockHeader: block 000000000000000005503bfbf5e39372675bd463a47a8352048cca7b486a520b is marked invalid
2021-09-15 15:14:17 [msghand] ERROR: invalid header receiv

[2021-09-16 07:06] Danconnolly commented on #220
Block `000000000000000005503bfbf5e39372675bd463a47a8352048cca7b486a520b` is a BCH block. The situation will resolve itself with time when the node finds suitable BSV nodes.

If its not resolved itself by now, you can help it by connecting to a known BSV node using the command `bitcoin-cli addnode 167.99.92.186 add`.

Note: `rpcallowip=0.0.0.0/0` is not recommended and will expose your node to hack

[2021-09-16 09:49] #220 closed

[2021-09-16 18:06] Danconnolly commented on #214
Thank you for reporting this issue, it is being investigated.

[2021-09-17 20:53] Polve commented on #214
Even after full reindex the daemon works for a few days and then new problems arise: it seems like it doesn't find the block files anymore after a restart:

[2021-09-17 21:33] BobZombiE69 commented on #214
after using a way bigger disk space than required, and adding more RAM than before , the problem has solved for me (at least  for now)

[2021-09-19 13:08] lifengmds opened #221 "node sync stop at bch/bsv fork point"
###  node stop sync at some forked block
I found my node syncing process usually stop at some fork point, each time may stopped at different height around same period with error: InvalidChainFound: invalid block XXX. Also I noticed at one time it synced to BCH chain. So I guess the software does not invalidate those invalid blocks or chose the right chain automatically ...

### reproduce and solvi

[2021-09-20 15:35] BobZombiE69 commented on #214
i can confirm that the prune mode size is exceeding the value in bitcoin.conf
so after reboot or node stop/start, most of the time it needs reindex, cause it's looking for at least one .blk file that does not exist on the disk anymore

[2021-09-20 18:08] matra774 commented on #214
What is the target prune size in bitcoind.conf and what is the size of *.blk files.

Please note that the prune configuration value is just a guideline since:
- blocks can be very big (giga byes) and bitcoind can not delete half of block
- blk file can contain multiple blocks
- blocks in blk files are not necessary sorted by height (they are sorted by arrival order, which might not be the same)
-

[2021-09-25 13:59] agreatopportunity opened #222 "Node will not get to 100k blocks."
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.

[2021-09-25 14:02] agreatopportunity commented on #195
What I have do in the past to proceed past a stuck block is to

bitcoin-cli invalidateblock 0000000000000dc9f431dc685214fab27a663e09028b3ebb3dc2abc8ac9c2c34
then
bitcoin-cli reconsiderblock 0000000000000dc9f431dc685214fab27a663e09028b3ebb3dc2abc8ac9c2c34

This would typically get me past the stuck blocks

[2021-09-25 15:18] baryon commented on #222
https://github.com/chainbow/electrumx-peer/blob/master/bitcoin.conf

Add more bsv nodes

2021年9月25日(土) 22:59 BuRtRoNiMu$ ***@***.***>:

[2021-09-25 23:30] agreatopportunity commented on #222
Thank you for your help. I had spent a good while redoing some configurations ... Added the Nodes as you suggested.

Finally I decided to just start complete over from -0- .

I believe it was how I was configuring the core itself:
./configure --with-utils --enable-prod-build --enable-asm --enable-debug --enable-asan

I went ahead and just took all options off the configure from start. I have left

[2021-09-27 10:52] AustEcon commented on #219
This happened to me too. I found the common branch point which was:
`00000000000000000cc69c0629ed03f938656f20243c772c6f18cead28e21769`

And block 700597 (`0000000000000000052c4236c4c34dc7686f8285e2646a584785b8d3b1eb8779`) orphaned this block:
`000000000000000004b3b2429955cd7943137cf4b22aaf139bae0c0a97ef11d3` (height 700597)

But my node was stuck on the wrong chain including: `000000000000000004b3

[2021-09-27 14:37] AustEcon commented on #219
Edit: Actually... It still failed to progress because I was using an old bitcoin.conf with limits that are now being exceeded by these larger blocks... So we can probably write it off as that..

[2021-09-28 16:58] leontastic opened #223 "LoadBlockHashAndTx: Deserialize or I/O error - ReadCompactSize(): size too large: iostream error"
### Describe the issue

Node stops syncing. I check the logs and see lines like this spammed over and over:

[code]

### Can you reliably reproduce the issue?

Yes been happening repeatedly for the past 24 hours despite multiple restarts.

#### If so, please list the steps to reproduce below:

1. Run an up-to-date node synced on BSV mainnet to block 706293
2. Wait for error

### Expected behaviour

[2021-09-28 18:20] leontastic commented on #223
Probably a corrupted block file. Closing.

[2021-09-28 18:20] #223 closed

[2021-10-02 15:14] agreatopportunity commented on #222
I have made it to Block 678300 ... I have INVALIDATEDBLOCK and RECONSIDERED at this stop. Has not moved. Would the suggestion be to REINDEX or REINDEX-CHAINSTATE ?

Trying to sync this puppy is a mess lately , and starting over seems to have been a mistake as it is very finicky to get rolling.. wish the community would stop fighting and start loving on each other all these forks on the way I would

[2021-10-08 10:27] Danconnolly commented on #53
The unconfirmed tx limit was increased to 10,000 in version 1.0.8.

[2021-10-08 11:08] #195 closed

[2021-10-08 11:57] #152 closed

[2021-10-08 11:58] Danconnolly commented on #151
Closing. Old ticket, MacOS not supported.

[2021-10-08 11:59] #138 closed

[2021-10-09 04:19] lifengmds commented on #221
This issue no longer appeared. Changed to centos 8 and bsv node 1.0.8, also modified some settings such as increasing excessiveblocksize, it worked.

But stuck at other issues, will state in another thread.

[2021-10-09 04:19] #221 closed

[2021-10-09 04:23] lifengmds commented on #214
I had the same issue, and also it crashed many times at some points when disks & mem usage were high but less than 90%.

[2021-10-11 02:03] lijixy opened #224 "out of memory"
2021-10-11 01:56:25 [msghand] Misbehaving: 47.89.177.134:8333 peer=6 (0 -> 100) reason: bad-diffbits BAN THRESHOLD EXCEEDED
2021-10-11 01:56:25 [msghand] ERROR: invalid header received
2021-10-11 01:56:26 [msghand] New outbound peer connected: version: 70015, blocks=709063, peer=18
2021-10-11 01:56:38 [msghand] New outbound peer connected: version: 70015, blocks=708562, peer=19
2021-10-11 01:56:44

[2021-10-12 01:42] lijixy commented on #224
16 G

[2021-10-12 06:20] #224 closed, assigned to nobody

[2021-10-12 06:49] Danconnolly commented on #204
I'm sorry but CentOS 7 is not supported, either directly or as a docker host. Please upgrade to CentOS 8.

https://github.com/bitcoin-sv/bitcoin-sv/wiki/CentOS-7-not-supported

[2021-10-12 06:49] #204 closed

[2021-10-12 06:59] Danconnolly commented on #188
Old, closing.

[2021-10-12 06:59] #188 closed

[2021-10-12 07:11] #126 closed

[2021-10-12 17:49] Danconnolly commented on #124
Pull request https://github.com/bitcoin-sv/bitcoin-sv/pull/123
Included in v1.0.1

[2021-10-12 17:49] #124 closed

[2021-10-14 17:01] CassClark commented on #194
Hi @conceptrat  to cover this off, as I see you haven't received a response, as you pointed out the syslog shows the error "Out of memory: Killed process 3502 (main)".  So essentially the node was setup with too little memory, when it ran out, the OS killed it.

[2021-10-14 17:01] #194 closed

[2021-10-18 05:24] lijixy opened #225 "some error"
[msghand] New outbound peer connected: version: 70015, blocks=710055, peer=32
[worker0-H-TxnValidatorPool] Misbehaving: <REDACTED: IP>:8333 peer=32 (0 -> 100) reason: bad-txns-vout-p2sh BAN THRESHOLD EXCEEDED

[2021-10-20 14:32] muratso opened #226 "Release 1.0.9 not signed with any known public keys"
The release 1.0.9 was not signed with any of the pgp keys in https://github.com/bitcoin-sv/bitcoin-sv/blob/master/doc/keys.md.

Could you please update this doc with the new keys that we should expect?
@richmills3 @chrisgibson01

[2021-10-20 16:18] brianorwhatever opened #227 "Release 1.0.9 breaks consensus"
Freezing UTXOs will be used in malicious ways by bad actors. This breaks the "set in stone" ethos and is an all around bad idea. This change makes it appear that the Bitcoin Association is the bad actor the public claims them to be.

The solution is more honest hash power, which will not be attracted with protocol changes like this.

[2021-10-20 19:24] shadders commented on #227
It doesn't break consensus anymore than the configurable excessiveblocksize parameter does. We've had that for nearly 3 years and never seen any problem.

[2021-10-20 19:24] #227 closed

[2021-10-21 11:03] arayalways opened #228 "EXCEPTION: N5boost10filesystem16filesystem_errorE"
### Describe the issue
Upgrade bitcoin-sv from v1.0.5 to v1.0.9;

Program just shut down with error:
[code]

### What version of bitcoin-sv are you using?
v1.0.9 Release

### Machine specs:
- OS: Ubuntu 18.04.3
- CPU:Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz *8
- RAM: 32G
- Disk size: 2T
- Disk Type (HD/SDD): SSD

### Any extra information that might be useful in the debugging process.
No log

[2021-10-21 11:40] Danconnolly commented on #226
Thank you for submitting this issue, the team is investigating it.

[2021-10-21 11:46] #225 closed, assigned to nobody

[2021-10-21 15:05] magmel48 opened #229 "Third the same 1.0.9 version"
Hello,

could you please do not re-create again the same 1.0.9 release version third time and instead of that just create 1.0.10 or 1.1.0 for instance? We are running own nodes on production and confused which version of 1.0.9 we should use.

[2021-10-21 16:16] PrernaPadhee opened #230 "Node will not sync beyond 705348 blocks after upgrading to v1.0.9"
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue
I upgraded to v 1.0.9 today and my container is errored out at the moment with the following logs

2

[2021-10-21 18:32] sensugaz opened #231 "Problem syncing node block 705385 v1.0.9"
node does its reset and rollback doesn't tell you what error is causing it?
![Screen Shot 2564-10-22 at 00 29 34](https://user-images.githubusercontent.com/11542308/138336472-0411fc81-2eb4-4e64-a6b4-78a5cb32e7ba.png)

[2021-10-22 03:16] LamarisSmiley opened #232 "Top"
https://github.com/bitcoin-sv/bitcoin-sv/blob/aaf6f38fb01a4a6da5b3bd7baf754d3d1bdd350c/src/time_locked_mempool.cpp#Ls95226

[2021-10-22 03:49] arayalways commented on #228
Thanks and I'm in desperate need of a solution that my wallet doesn't work for a while.

[2021-10-22 12:30] #226 closed, assigned to Danconnolly

[2021-10-25 14:28] #229 closed, assigned to Danconnolly

[2021-10-29 06:19] #231 closed, assigned to Danconnolly

[2021-10-31 09:16] ytrezq commented on #183
@CassClark No !  There an rpc endpoint for doing it from the node. It s about documenting how to use it.

Plase reopen !

[2021-10-31 22:10] lurchinms opened #233 "Node keeps shutting down."
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.

[2021-10-31 22:11] lurchinms commented on #233
Conf File:
rpcuser=mcorerpc
rpcpassword=
rpcport=6333
rpcbind=127.0.0.1
rpcbind=192.168.1.65
rpcallowip=192.168.1.60
rpcallowip=192.168.1.101
daemon=1
gen=0
server=1
listen=1
txindex=1
excessiveblocksize=2000000000
maxstackmemoryusageconsensus=100000000
maxconnections=50
port=6332
upnp=1

[2021-11-01 07:15] Danconnolly commented on #233
Are there any messages in the kernel log at the time of shutdown? The kernel log is usually stored in /var/log/syslog.

[2021-11-05 02:52] apufvqsp commented on #230
I set bitcoin.conf according to this page
`server=1
txindex=1
rpcallowip=192.168.0.123
rpcport=12345
port=56789
daemon=1
excessiveblocksize=1000000000
maxstackmemoryusageconsensus=100000000
maxmempool=10000
maxsigcachesize=300
maxscriptcachesize=300
maxorphantx=10000
addnode=68.183.42.63
addnode=206.189.104.98
addnode=159.65.152.200
addnode=104.248.245.82
addnode=167.99.92.186
addnode=206.189.81.2

[2021-11-06 06:29] sugeladi commented on #230
我也遇到了相同的问题，我的机器配置是 aws m5.2xlarge  8C 32G 1.5TSSD(gp2) 4608 IOPS ,请问你的问题解决了吗？

我的配置文件：
txindex=1
server=1
daemon=1
testnet=0
rpcworkqueue=128
excessiveblocksize=1000000000
maxstackmemoryusageconsensus=100000000
maxmempool=10000
maxsigcachesize=300
maxscriptcachesize=300
maxorphantx=10000
disablesafemode=1
rpcuser=xxx
rpcpassword=xxx
rpcallowip=0.0.0.0/0
rpcbind=0.0.0.0
rpcport=9833
datadir=/data/b

[2021-11-06 12:15] Danconnolly commented on #230
I think you're missing a zero from excessiveblocksize. It should be 10GB.

Try this: `excessiveblocksize=10000000000`

[2021-11-07 06:01] sugeladi commented on #230
Ok, I'll give it a try. Thank you very much. I'll get back to you when I know.

[2021-11-07 06:17] sugeladi commented on #230
@Danconnolly  excessiveblocksize=10000000000

Increase excessiveBlockSize and it works. Thank you. It is currently in the sync block.

@apufvqsp  You can also try, I see your previous parameters are the same as mine. Set the excessiveblocksize = 10000000000

[2021-11-08 03:21] apufvqsp commented on #230
It worked, thank you

[2021-11-08 10:47] Danconnolly commented on #233
Closing, one week with no response. Please re-open if needed.

[2021-11-09 04:10] sugeladi commented on #230
Yes, I also found that after some time of synchronization, the node started to back up, last night my node synchronized to

2021-11-08 15:48:15 [loadblk] UpdateTip: new best=00000000000000000bc8dfd7c3cab7840156619fd590ceff6b5b9454382167a1 height=706864 version=0x20000000 Log2_work =88.251213 tx=708682078 Date ='2021-09-29 06:49:41' progress=0.984493 Cache =3059.1MiB(9301884TXo)

2021-11-09 04:05:4

[2021-11-09 18:01] CassClark commented on #228
@arayalways we've been looking into this for you, however was wondering if you could provide a bit more information please.

Can you confirm what version of boost you are using?

[2021-11-10 07:42] sugeladi commented on #230
It may be that the configuration of your machine is not enough. How about the configuration of your machine? The IOPS and throughput must be increased.
My machine is configured with AWS M5.2 Xlarge 8C 32G 2.5TSSD(GP2),8000 IOPS, 1000 Throughput，It's already in the normal sync block.

[2021-11-11 15:19] PrernaPadhee commented on #230
this is my current machine config
OS: Linux (ubuntu 18.04)
CPU: 32
RAM: 128 GiB
Disk size: 2048 GiB
Available disk space - 399 GiB
IOPs - 51200
Disk Type (HD/SDD): Premium SSD LRS

[2021-11-11 20:28] PrernaPadhee commented on #230
my current logs are currently as follows and my node is not syncing. I am using docker to setup the container.

2021-11-11 19:35:28 [msghand] ERROR: AcceptBlockHeader: block 0000000000000000007b672d9dd103d1a89281df79034bf1af381ed811ffeaa0 is marked invalid

2021-11-11 19:35:28 [msghand] ERROR: invalid header received

2021-11-11 19:35:28 [msghand] ERROR: AcceptBlockHeader: block 000000000000000000

[2021-11-12 10:44] Danconnolly commented on #214
The issue has been confirmed. The software will require a large amount of disk space duing first initialization (initial block download) but it will steadily reduce disk usage once it has reached the tip.

Our recommendation at the moment is to temporarily assign a large drive which can be replaced with a smaller one after the disk space has dropped.

The issue is being worked on and will be fixed

[2021-11-12 14:42] Danconnolly commented on #230
Block 0000000000000000007b672d9dd103d1a89281df79034bf1af381ed811ffeaa0 is a Bitcoin Cash block, and yes it is invalid on Bitcoin SV.

How many peers are you connected to and are you connected to any Bitcoin SV peers? You can check using `bitcoin-cli getpeerinfo`. See [here](https://github.com/bitcoin-sv/bitcoin-sv/wiki/Block-download-issues) for a list of known good peers.

[2021-11-13 09:28] arayalways commented on #228
It's `libboost1.58-dev:amd64: /usr/include/boost/version.hpp` on host VM(ubuntu 16). However I run BSV node in a docker image based on ubuntu 18 which I could not find the `libboost` library.

[2021-11-16 12:53] almightyruler commented on #182
Sorry for the delay in reply, as I've been experimenting with various compilers and BSV versions.

Eventually, I managed to complete a v1.0.9 build by installing gcc11, recompiling boost with gcc, and forcing bitcoin-sv to use gcc. (Still haven't worked out wallet support). Here are my notes:

- Must use GCC 11, installed from packages.
- Must link executables 'gcc11' and 'g++11' to 'gcc' and 'g++

[2021-11-18 05:21] Danconnolly commented on #182
Thanks for working all of that out, I'm forwarding it on to the developers.

[2021-11-20 22:06] Pok9thai opened #234 "@pok9thai"

[2021-11-26 17:59] brunomq opened #235 "Release 1.0.10 signed with a non-listed key"
The 1.0.10 is signed with a different key not listed on the https://github.com/bitcoin-sv/bitcoin-sv/blob/master/doc/keys.md
when I try to verify I am receiving the following  message

[code]
I believe this key should be included in documentation

[2021-11-30 12:20] Danconnolly commented on #235
Thank you. The SHA256SUMS.asc file has been updated.

[2021-11-30 12:20] #235 closed

[2021-12-01 02:25] johnzhou123 opened #236 "Cross-check of mempool file and transaction database failed: Failed to open mempool file from disk. Continuing with empty mempool and transaction database."
Who knows how to solve this problem，its a testnet bsv node

[2021-12-02 10:39] CassClark commented on #82
@Rui2guo please be advised that this is covered in our latest release v1.0.10:
 https://bitcoinsv.io/2021/11/25/upgrades-bsv-v1-0-10-mapi-v1-4-0/

[2021-12-02 10:39] #82 closed

[2021-12-02 10:54] CassClark commented on #212
@educob The team had a look at this for you and it would appear you are using a non-standard (unsupported) docker script. we would advise updating to latest version and use one of the supported docker scripts.

https://github.com/bitcoin-sv/docker-sv

[2021-12-02 10:54] #212 closed

[2021-12-02 10:55] #214 closed

[2021-12-02 10:56] #222 closed

[2021-12-02 10:57] CassClark commented on #228
@arayalways Can you try using v1.65 of boost or later please?

[2021-12-02 10:59] CassClark commented on #230
closing this call as last response given should resolve this issue.

[2021-12-02 10:59] #230 closed

[2021-12-02 11:02] CassClark commented on #236
This is a warning message you've provided alludes to the fact that the db's are out of sync because of improper shutdown.  It is not an issue.

[2021-12-02 11:02] #236 closed

[2021-12-03 03:44] johnzhou123 commented on #236
ok,i see ,thanks

[2021-12-06 06:51] CharesFang opened #237 "Vulnerable Settings for DoS Attack"
This issue backports for Bitcoin [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152). There is an inappropriate setting that was founded recently in path `src/validation.h`.

According to the original [PR#16152](https://github.com/bitcoin/bitcoin/pull/16152) of Bitcoin shown below, the `NODE_BLOOM` service flag is added as default and it should be disabled for security considerations.

For m

[2021-12-06 13:02] CassClark commented on #237
Internal ticket raised: SVN-1806

[2021-12-08 07:55] CharesFang opened #238 "Backports from Bitcoin"
We recently investigated the Bitcoin issues which are related to privacy protection, vulnerability patches, or security enhancements. We have also checked the `repoName` source code. Results show that these issues and their PRs are not backported yet. Henceforth, we suggest that `repoName` should backport the PRs listed below for the considerations of software security and integrity.

- [ ] Bitcoi

[2021-12-10 06:49] COLUD4 opened #239 "How do I reduce storage running nodes"
![截屏2021-12-10 下午2 45 33](https://user-images.githubusercontent.com/21240219/145529688-15daaa54-2cab-4345-8aa4-13efa7055b00.png)
I set prune=1000, but couldn't start the node. If removed, the node can be started and run normally

[2021-12-10 08:29] Ljzn commented on #239
The unit of prune is MB if I remember it correctly. So 1000MB just 1GB, maybe it's too small to download the block data. Try a larger number.

[2021-12-16 07:55] Klar commented on #214
As this is closed, is this fixed in the new release? Haven't seen anything about it in the changelog.

i.e how can we subscribe to get informed when this is fixed

[2021-12-16 18:29] CassClark commented on #228
closing this ticket as 14 days have past since our last comment in relation to how to resolve the issue.

[2021-12-16 18:29] #228 closed

[2021-12-16 18:31] CassClark commented on #214
@Klar we've provided the workaround.  The fix will be in a future release.

[2021-12-17 18:08] CassClark commented on #239
@COLUD4 We suggest that if you are using the prune config option, that you set it to a level appropriate to the disk space available on the machine. However, be advised that the node keeps at least 288 blocks. If these blocks are 2GB each, that’s 288 x 2GB = 576 GB. In addition, we recommend 128GB swap space (see https://bitcoinsv.io/documentation/miners/system-requirements), so a prune setting be

[2021-12-17 18:08] #239 closed

[2021-12-17 18:17] CassClark commented on #182
@almightyruler we've used the information you have provided to update our knowledge pool ( https://github.com/bitcoin-sv/bitcoin-sv/wiki/Support-and-Knowledge-Base#SupportandKnowledgeBase-ASICboost ) which we will continue to expand, to assist others. thanks for the detailed information.

[2021-12-17 18:17] #182 closed

[2022-01-04 10:12] kr1z1s opened #241 "Getblocktemplate request parsing error for releases newer than 1.0.6."
I'm use ckpool which use jasson C library - https://github.com/akheron/jansson

If use 1.0.6 and older than parsing gbt result is ok. But with 1.0.7 and newer i get an error

`JSON decode ( "getblock...) failed(1): control character 0xd near '"'`

This error appeared after you started using Simplify JSonWriter.

Other RPC requests are processed correctly. I checked "getnewaddress", "getmininginfo"

[2022-01-06 19:21] CassClark commented on #241
hi @kr1z1s

Would you be able to share the JSON that does not parse correctly please?

Can you also advise of the following as this will help us investigate the issue you are experiencing:

- What OS are you using (please also provide the version)
- Can you advise what version of bitcoind you are using?
- Would you be able to send me the log file please? (I can provide a secure upload account to d

[2022-01-08 09:03] kr1z1s commented on #241
Ok. I will try to save the response to the request.

Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-91-generic x86_64)

I check 1.0.7.1, 1.0.8, 1.0.9, 1.0.10

I have full log. Where to upload them?

With others coins (BTC,BCH,XEC,DGB) there are no such problems. And with BSV daemons version 1.0.6 and older.

[2022-01-09 04:56] Shirley-Ji opened #242 "Node will not sync beyond 700596 blocks when using docker in Ubuntu 20.04"
I've checked https://github.com/bitcoin-sv/bitcoin-sv/issues/230, and found the similar issue, in which the #230 issue has been resolved by changing excessiveblocksize to 10G. But after setting it to 10G, I still cannot successfully sync. What I should do now, please help.

bitcoin.conf:

printtoconsole=1
rpcallowip=::/0
rpcpassword=password
rpcuser=bitcoin
excessiveblocksize=10000000000
maxstackm

[2022-01-09 14:29] Shirley-Ji commented on #242
after waiting for a while , the block has continued to sync for now, close it.

[2022-01-10 13:06] CassClark commented on #241
hi @kr1z1s

Thanks for the information you've provided.  Would you be able to send me your email address please so that I can send you a secure link to upload your full log to?  If you don't want to put your email address here, feel free to email me via the bitcoinsv support mailbox; support@bitcoinsv.io

thanks
Cass

[2022-01-10 13:21] kr1z1s commented on #241
Sent log to you email.

[2022-01-10 18:56] CassClark commented on #241
@kr1z1s log file received & passed to the dev team.

[2022-01-11 00:57] Shirley-Ji commented on #242
I can see the node has sync'd to 701180, then the node stopped to sync and when I restart the docker, the block starts from 700596. Then I create a new machine, 8 core, 32g memory, with 1.5T gp3, 8000iops, 1000throughput, with the same conf file, the same issue happened, sync'd to height 700xxx, then stop, then when I restart it, it starts from  height 12xxx.

[2022-01-12 08:17] richmills3 commented on #241
Hi @kr1z1s

Could you please let us know what additional arguments you are providing to the getblock RPC call? Ideally could you give a complete example of a getblock call that demonstrates the faulty JSON.

Thanks.

[2022-01-12 08:55] kr1z1s commented on #241
Below is the pool code and the queries I tried.
Other RPC requests are processed correctly.

Only GBT request returns an error message - JSON decode ( "getblock...)
failed(1): control character 0xd near '"'

This is the current

//static const char *gbt_req = "{\"method\": \"getblocktemplate\"}\n";

Have you tried it

/* Request getblocktemplate from bitcoind already connected with a

 The challen

[2022-01-12 10:22] richmills3 commented on #241
Thank you for that.

I just tried a quick test using a node running on the `regtest` network (I am also running up a mainnet node and will try that as well later) of your basic `getblocktemplate` call. I got the following JSON output:

[code]
I then tried parsing that JSON using `jansson` (version 2.13):

[code]
[code]
So currently I can't see the same issue as you are encountering. As I say, I'll

[2022-01-12 10:36] kr1z1s commented on #241
Hm...

I'm use jansson version 2.10

ср, 12 янв. 2022 г. в 13:23, richmills3 ***@***.***>:

[2022-01-12 10:45] kr1z1s commented on #241
And more. Are you parsing only a text response? I have an error that occurs
even when parsing the stream.

Here - https://github.com/akheron/jansson/blob/master/src/load.c#L323

ср, 12 янв. 2022 г. в 13:36, A S ***@***.***>:

[2022-01-12 11:15] richmills3 commented on #241
As I showed in my reply above: I'm saving the text output of the `getblocktemplate` RPC call to a file and then parsing the contents of that file. That should be enough to test whether the returned JSON is correctly formed and whether jansson can read it.

I just tried building and linking against jansson 2.10 and that also parsed without error, so it's not that.

[2022-01-12 11:19] kr1z1s commented on #241
I understand that's not the point.
 Because before version 1.0.7 I had no problems. And it works fine on
version 1.0.6.
It is the text response that you are analyzing. Control characters are
not visible in the text!
And the answer shows that the parser stumbles on the control symbol.

ср, 12 янв. 2022 г. в 14:15, richmills3 ***@***.***>:

[2022-01-12 12:30] CassClark commented on #242
@Shirley-Ji i would suggest increasing your machine spec as you haven't got enough memory, you need a minimum of 64GB Ram + 64GB Swap.  Ideally, increase ram and reduce swap, while maintaining 128GB total memory available.: https://bitcoinsv.io/documentation/miners/system-requirements/

[2022-01-12 12:41] richmills3 commented on #241
There are 3 possibilities:
1. 1.0.7 introduced a bug in bitcoind JSON generation.
2. 1.0.7 changed JSON generation and triggered a bug on your side.
3. 1.0.7 changed JSON generation and is triggering a bug in jansson.

I'm concentrating on testing cases 1 and 3, I can't obviously investigate case 2.

That's not entirely true; control characters wouldn't be visible when I `cat` the file, but they w

[2022-01-12 13:14] kr1z1s commented on #241
rpc.json in attach

[rpc.tar.gz](https://github.com/bitcoin-sv/bitcoin-sv/files/7854776/rpc.tar.gz)

[2022-01-13 08:37] richmills3 commented on #241
Thanks. Ok, so that also parses fine using jansson in that test program I posted above.

To summarise; we've used bitcoin-cli to issue a `getblocktemplate` call to the node and applied a patch that intercepts the read response from the node and writes it out to a file before anything else can get to it and potentially modify or sanitize it. That raw response is well formatted JSON according to jan

[2022-01-13 09:28] kr1z1s commented on #241
You can repeat this error yourself by installing
https://bitbucket.org/ckolivas/ckpool-solo/src/master/

чт, 13 янв. 2022 г. в 11:37, richmills3 ***@***.***>:

[2022-01-13 10:59] kr1z1s commented on #241
Yes. I think it's because of that.

[2022-01-13 12:42] CharesFang commented on #238
- [ ] Bitcoin [PR#14341](https://github.com/bitcoin/bitcoin/issues/14341) should also be backported from my view. Though I didn't see the completely same functions in Bitcoin-SV (function declaration and its implementations may be different), the way of Bitcoin to handle abnormal Node crash should be referenced.

[2022-01-13 17:58] #242 closed

[2022-01-13 18:07] CassClark commented on #241
@kr1z1s did you manage to get the JSON that does not parse correctly?  This would allow @richmills3 to investigate further for you.

[2022-01-14 07:09] richmills3 commented on #241
@CassClark I'm not sure we need the JSON anymore; we're pretty sure the problem is that ckpool doesn't handle HTTP chunked encoding and so is miss-interpreting the message sent back from the node.

[2022-01-14 10:59] #241 closed

[2022-01-14 12:54] CassClark commented on #238
Internal ticket raised: SVN-1815

[2022-01-19 10:44] Limpisey168 commented on #242
Do not try to access my system again. I'm already tested.

[2022-01-26 03:08] Limpisey168 commented on #110
Hi

[2022-01-28 00:39] aad3365 opened #243 "Can't reach current block height"
My bsv node can't reach to the current blocks.
When approximately 15000 ~ 20000 blocks to sync remain, node tells something wrong on mempool and does rollback.
Here's the log.
![image](https://user-images.githubusercontent.com/17927890/151466190-159c64f8-1544-4fbd-92dc-589c99cccea0.png)
![image (1)](https://user-images.githubusercontent.com/17927890/151466192-190d673a-ebdc-4a71-97d1-00dc147d43ff.p

[2022-01-31 13:02] CassClark commented on #243
@aad3365 what version of the node software are you running and what is your machine spec?

[2022-01-31 13:09] CassClark commented on #243
apologies i see you are running v1.0.10, so if you can confirm the machine spec thanks

[2022-02-03 00:27] aad3365 commented on #243
Wait a sec,, is 20G memory small to run bsv?
I found docker memory setup to run container under 20G memory.
I will try without this option.

[2022-02-03 10:51] c0deright opened #244 "bitcoin-sv daemon hanging at block 724939"
## Problem

We run several bitcoin-sv nodes and all **stopped at block 724939** (00000000000000000611f7df4a84e4d3a317458bf3ab51e625c2811db215b306)

Stopping the node, removing peers.dat, banlist.dat and restarting didn't resolve the issue.

We tried

`invalidateblock 00000000000000000611f7df4a84e4d3a317458bf3ab51e625c2811db215b306`

and then

`reconsiderblock 00000000000000000611f7df4a84e4d3a31745

[2022-02-03 14:48] leeheejoo commented on #244
Use the two values ​​below in your config.

excessiveblocksize=10000000000
maxstackmemoryusageconsensus=10000000000

[2022-02-03 15:13] c0deright commented on #244
Thanks. For the time being we're using 4GB.

In the foreseeable future we'll remove support for BSV entirely because it's getting more and more ridiculous every day.

[2022-02-03 17:38] CassClark commented on #243
Hi @aad3365

thanks for the update.

here are our recommended specs:
https://bitcoinsv.io/documentation/miners/system-requirements/

[2022-02-03 22:50] Danconnolly commented on #244
It would be a real shame if you left, although I dont know who you are.

The maximum size of blocks on the Bitcoin SV blockchain is determined by the miners. [Taal](https://www.taal.com/), one of the largest miners on Bitcoin SV, [announced its plans](https://www.taal.com/blog/2022/4gb-on-its-way-taal-upgrades-its-operations-doubles-capacity/) to increase its maximum block size on January 10th.

W

[2022-02-04 09:21] aad3365 commented on #243
@CassClark Yea the limitation was the problem. My node successfully finished sync.

[2022-02-04 09:21] #243 closed

[2022-02-04 12:45] CassClark commented on #243
@aad3365 thanks for the update - glad to hear the issue is now resolved.

[2022-02-06 18:58] erzqk opened #245 "BSV node cant recieve new blocks"
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue

bitcoin-sv node can't recieve new blocks last hours

[code]

### Can you reliably reproduce the iss

[2022-02-06 20:17] Danconnolly commented on #245
Please check this issue: https://github.com/bitcoin-sv/bitcoin-sv/issues/244

[2022-02-06 21:10] erzqk commented on #245
ty its worked for me, blocks continued to be received.

[2022-02-06 21:10] #245 closed

[2022-02-11 06:39] lcgogo commented on #244
If the config changes will cause hang up or fork, I think need a package release notification. Because not all the bsv node maintenance guys will track tweet because they may maintenance many other coin nodes too. But most of them will track the github update!

[2022-02-11 06:44] Limpisey168 commented on #244
Thanks you

On Fri, Feb 11, 2022, 1:39 PM lcgogo ***@***.***> wrote:

[2022-02-11 06:48] Limpisey168 opened #246 "reply+AR6QXO5XL5NO7PDYRNB3EQOACHS2HEVBNHHEF3U4MI@reply.github.com"

[2022-02-11 07:04] Limpisey168 opened #247 "etherscan.github.io/ethvalidate"
etherscan.github.io/ethvalidate

[2022-02-11 12:54] CassClark commented on #247
closing as no details in this ticket

[2022-02-11 12:54] #247 closed

[2022-02-11 12:54] CassClark commented on #246
closing as no details in this ticket

[2022-02-11 12:54] #246 closed

[2022-02-23 03:18] lifengmds commented on #244
We had similar issue and upgraded config and node software version. But bitcoind process (after restart) was always killed by system without any error information. Mem 32GB, 4 Cpu. Maybe cpu was out of capacity because it was nearly fully occupied as I saw?

[2022-02-25 03:06] lijianl opened #249 "is bitcionsv a faker crypto"
1. no update  on code
2. no replay for bug and issues
3. no upgrade

[2022-02-25 08:57] #249 closed

[2022-03-02 02:34] lijianl commented on #244
very very agree with this

[2022-03-02 10:05] Danconnolly commented on #244
Check the system log (usually /var/log/syslog) at around the time of the crash. Look for a message like "kernel: Out of memory: Killed process".

32GB RAM wil cause issues. The software really needs 64GB. Please open another ticket if this continues.

[2022-03-02 10:06] Danconnolly commented on #244
@shphrd I'd love to hear more about the issues you have. Please e-mail support@bitcoinsv.io.

[2022-03-02 10:09] Danconnolly commented on #244
Closing this ticket now.

[2022-03-10 03:08] Limpisey168 opened #250 "@Limpisey168"
@Limpisey168

[2022-03-10 03:33] #250 closed

[2022-03-11 11:17] lijianl opened #252 "sync block from xxx blockid"
THE BSV node is too big  to waste ssd,

Could i apply a request to add a command to bitcoind server;

so that i could sync block from the block according command params,

[2022-03-12 07:41] lijianl commented on #252
does any body have any responsible for the issue

[2022-03-12 09:46] Danconnolly commented on #252
Do you mean that you want to sync the blockchain from a particular block to the tip of the chain, instead of from the genesis block?

[2022-03-13 08:07] afomi commented on #214
I lost a few hours maxxing out volumes well-under the prune limit, and found my way here.

Seems like this is still an open issue.
Is there another issue tracking the `require a large amount of disk space during first initialization` ?

[2022-03-13 10:10] Danconnolly commented on #214
This is fixed in the next release.

[2022-03-14 07:06] lijianl commented on #252
yes, when is use `genesisactivationheight=620538` in bitcoin.conf,  it still sync from height=0, sync from a particular block will very helpful especially when `txindex=1` was set,

 or could you give some hit to change source code by myself

[2022-03-15 03:18] lijianl commented on #252
does any body responsible for the issue

[2022-03-15 08:38] Danconnolly commented on #252
I'm looking into it.

[2022-03-15 08:46] Danconnolly commented on #252
OK, thats not what this option is for. This option is related to the Genesis upgrade and should not be used on mainnet or testnet.

We do not have the option to start syncing the chain from a particular height. It is something that is desirable, and it is on our long term backlog, but its not something we are working on now and we are not planning to work on it in the near future.

Note that our p

[2022-03-16 02:49] lijianl commented on #252
get it

[2022-03-21 11:48] lijianl opened #253 "ask for public node"
do  you guys  have any public node for service?

the bitcoinsv source code  is too bad to system, there two many limitation

[2022-03-21 11:54] lijianl opened #254 "sync exit by OOM"
[code]

does any config not enough for the bsvnode, because of sync stop out by `Error: Out of memory. Terminating.`

[2022-03-21 11:55] lijianl opened #255 "version:1.07.1"
will version 1.07.1 sync all block data ? or only version 1.10.0 is avaliable

[2022-03-21 15:36] Danconnolly commented on #253
I'm afraid not, the RPC interface is only intended for internal use and contains commands that would cause issues.

You could try https://developers.whatsonchain.com/#introduction.

[2022-03-21 15:37] Danconnolly commented on #255
1.0.7.1 will sync all data.

[2022-03-21 15:37] #255 closed

[2022-03-21 15:38] Danconnolly commented on #254
See https://bitcoinsv.io/documentation/miners/system-requirements/

[2022-03-23 06:35] lijianl commented on #253
The browser has too low limit for an available service, not enough to scan tx for a  wallet

[2022-03-23 06:47] lijianl commented on #254
i have seen this, i want to know whether there any more debug-info to locate the limitation? mem or HD or any config-item

[2022-03-23 06:48] lijianl commented on #254
[code]

the log looks link HD is not enough? how to change the certain conf

[2022-03-24 19:18] Danconnolly commented on #254
To me it looks like you have run out of RAM. To verify large blocks, you really do need 60GB of RAM.

You could also check the system log, usually /var/log/syslog. Look for lines showing an out of memory error, or the string "killed".

[2022-03-24 19:20] Danconnolly commented on #253
The "browser"? They have a JSON API.

[2022-03-24 19:20] #252 closed

[2022-04-04 15:29] Polve opened #258 "Unable to get hex dump of block 00000000000000000f4a8e63b3c8d234e69f02054a1886ebf154aadac296f7f0"
### Describe the issue

I'm unable to get a hex dump of block #733601 , whose hash is in the subject.

The command "getblock 00000000000000000f4a8e63b3c8d234e69f02054a1886ebf154aadac296f7f0" gives a json with the right information, but by adding the parameter "0" that requests a hex dump of the block I get a 4GB file (instead of 2.4 like it should) where for more than one gigabyte there are only s

[2022-04-04 16:16] Danconnolly commented on #258
Thank you for the complete error report.

I've confirmed the error with version 1.0.10.

[2022-04-22 11:46] danielcft opened #259 "man page: minminingtxfee is a required parameter yet is documented as having a default"
### Describe the issue
man page:  minminingtxfee is a required parameter yet is documented as having a default.
I would expect it not to have a default value in the man page.

https://github.com/bitcoin-sv/bitcoin-sv/blob/ed13d5ddc99e433854c0e50e80dd6e75d842429e/doc/man/bitcoind.1#L696
### What version of bitcoin-sv are you using?
1.0.11

[2022-04-25 08:17] aad3365 opened #260 "what should be minminingtxfee?"
I run node as rpc server, I'm confused what minniningtxfee should be.
Is it meaningful option for rpc server?

[2022-04-29 07:52] #259 closed

[2022-04-29 09:12] Danconnolly commented on #260
The minminingtxfee setting will affect which transactions are present in the mempool of your node. We suggest you set it to the same value as miners are configuring.

I think Taal and Gorillapool are both setting this value to "0.0000005", which is equivalent to 50 sats/kb.

[2022-05-09 03:03] zpxp opened #261 "Remove 1 sat hard limit"
We have a critical business requirement that requires data tracked via utxos but cannot reclaim the locked sat later. This can only be achieved with zero sat utxos. Putting in a single sat will drain wallets and allow hackers to skim sats off multisig utxos. Please remove.

[2022-05-09 03:30] baryon commented on #261
Change your business!

[2022-05-09 03:32] zpxp commented on #261
What happened to "the protocol must be set in stone"? Or is it okay when craig decides to change the protocol?

[2022-05-09 03:48] baryon commented on #261
Dr. CSW has said that bitcoin was set in stone from the day it was born, and even he can't change that.

0STAS is an implementation bug.
Don't make similar proposals again

[2022-05-09 04:00] zpxp commented on #261
It used to work, now it doesn't, that's a protocol change

[2022-05-09 08:50] Danconnolly commented on #261
I'm sorry but we're not going to do that.

[2022-05-09 08:50] #261 closed

[2022-05-09 08:54] zpxp commented on #261
So the all wise and powerful devs at the bitcoin association can change the protocol at their discretion, while putting up a public veneer of "set in stone" and "build on BSV, we wont break your existing software". Well guess what, existing software has been broken and it appears the bsv ivory tower is content with that. This will be a PR disaster for bsv.

[2022-05-09 09:06] baryon commented on #261
no one can change stone. Bitcoin is a cash system, not a data system.

[2022-05-09 09:10] zpxp commented on #261
@baryon As someone who is trying to run a bsv business, this should greatly concern you, that the association can make breaking changes to protocol at any time.

[2022-05-09 09:13] deanmlittle commented on #261
It was not an implementation bug. Craig forgot to do his homework on Satoshi's SourceForge commits and accidentally admitted to the world that he is, without a doubt, not the one who wrote the code you speak of, despite it being Satoshi code. Anyone with even a rudimentary understanding of C++ who reads the code comments Satoshi made, along with the perfectly executed logic directly below them, co

[2022-05-09 09:18] baryon commented on #261
I don't care if Dr. CSW is Satoshi Nakamoto. I believe what the Bitcoin whitepaper does not include 0. Because it is a cash system, not a data system. The biggest misdirection in the last two years is to misinterpret big blocks as big data.

[2022-05-09 09:22] zpxp commented on #261
By that logic we should delete all OP_RETURN and OP_PUSHDATA codes then, no?

[2022-05-09 09:35] baryon commented on #261
A receipt for a cash transaction or digital product can also be stored on the blockchain. Data are only meaningful if they relate to cash transactions.

[2022-05-09 09:37] baryon commented on #261
The right thing to raise dust limit, not zero. And should strongly oppose MAPI, it is a big data backdoor

[2022-05-09 09:40] zpxp commented on #261
Doing that would change the protocol.

So much for not changing stone

[2022-05-09 09:43] baryon commented on #261
I don't see anything that needs to change.

But apparently the miners didn't realize that too low a Dust limit could lead to systemic risk. Node developers have removed the restrictions.

[2022-05-09 10:31] SoiledCold5 commented on #261
I support zpxp

[2022-05-09 10:44] torusJKL commented on #261
@zpxp I recommend you contact the GorillaPool.
@MineLikeAnApe on Twitter.

They might be able to help you by including your 0 sat outputs.

From what I understand once they are in a block they are still regarded as valid.

[2022-05-09 11:28] zpxp commented on #261
@torusJKL Thanks, I've had preliminary discussions with the guys over there. Lets see if they can sort it out.

[2022-05-09 12:25] jadwahab commented on #261
@zpxp why can't you reclaim the locked sat later? Sounds like a fundamental issue with the way your system is set up...

[2022-05-09 18:18] mpapec commented on #261
I'm failing to see connection between spendable 0 sat utxo, and suggestion above.

[2022-05-09 22:03] zpxp commented on #261
Well of course its possible, but would require tracking those utxos in a database after the client notifies us of it's existence. It's far more inefficient.

[2022-05-09 22:14] zpxp commented on #261
But the point it shouldn't have broke in the first place. BSV's only real selling point was "build on us and existing code won't be broken". I can adapt and change the code, sure, but now a precedent is set where at any time, the "stable" protocol can be changed by a select group's discretion. Kind of the opposite of BSV's only real selling point.

[2022-05-10 02:25] KaKeimei commented on #261
Interesting

[2022-05-10 06:00] Danconnolly commented on #261
The protocol is fixed in stone and will not change.

The software is continually evolving.

[2022-05-10 06:30] zpxp commented on #261
Nice misdirection by saying we didn't change the protocol, we only changed the code. What implements the bitcoin rules? The software.  Yet for some reason no-one can seem to address the fact that the protocol did change, they only ignore it, stonewall it, or make completely illogical and pointless arguments.

[2022-05-10 06:47] Danconnolly commented on #261
You might be referring to two things there:

1. The original response I wrote said "The protocol is fixed...". I dont like the word "protocol". It is used in the Bitcoin space in confusing ways to refer to multiple things. For me, it refers to the network protocol which the node software uses to communicate with each other. This protocol has changed in the past (Compact Blocks) and will change in

[2022-05-10 09:13] torusJKL commented on #261
@zpxp
The distinction Danconnolly is making is very important to understand.
There are the common Bitcoin rules (set in stone with known exceptions) and there are the rules a node software implements.

As long as the rules implemented by the node software are allowed by the Bitcoin rules it is not a change.
It is simply a design decision made by that specific node implementation.

It would have be

[2022-05-10 10:18] CassClark commented on #254
closing due to time passed without further response / request for further assistance.

[2022-05-10 10:18] #254 closed

[2022-05-10 10:21] #260 closed

[2022-05-10 17:17] ContrarianUnderscoreUnderscore commented on #261
@Danconnolly , does this mean BSV will not allow signed transactions from 2009 as promised? What about OP_VER ? That was "scheduled to be re-enabled in the Chronicle release". Would you consider that addition a change in the "Bitcoin rules"?

What about the change to reassign coins due to a "court order" that nChain's Chief Scientist claimed in a lawsuit was coming to BSV? Will that change any exi

[2022-05-10 19:43] mpapec commented on #261
Take it easy, you'll know everything when a time is right. :-)

[2022-05-10 19:51] ContrarianUnderscoreUnderscore commented on #261
@mpapec, I don't know what you mean by this. It doesn't answer any of my questions and is, frankly, unprofessional and nonsensical.

"The Bitcoin rules are fixed in stone and will not change" is a straightforward-seeming comment, but it has nothing close to a formal definition to my knowledge. I'm simply asking for clarification.

[2022-05-10 19:58] mpapec commented on #261
Could you explain what business exactly are you running on bsv and why do you care?
Thank you in advance. :-)

[2022-05-10 20:05] ContrarianUnderscoreUnderscore commented on #261
@mpapec , please stay out of the discussion if you're not going to contribute.

[2022-05-10 20:23] mpapec commented on #261
@ContrarianUnderscoreUnderscore please do not troll concern if it's none of your business. :-)

[2022-05-11 14:57] ContrarianUnderscoreUnderscore opened #262 "License clarification needed"
## The current license for this software is ambiguous, especially in light of recent comments by lead nChain developer @Danconnolly and nChain Chief Scientist Craig Wright. It needs clarification.

### Current license text.
The current license reads (in relevant part, emphasis added): "The Bitcoin SV blockchains are defined, for purposes of this license, as the Bitcoin blockchain containing block

[2022-05-11 19:08] Danconnolly commented on #262
Please seek professional and independent legal advice.

[2022-05-11 19:08] #262 closed

[2022-05-11 19:11] ContrarianUnderscoreUnderscore commented on #262
This is unhelpful, as *you* are the person who asserted that the rules of Bitcoin are fixed, yet it appears that nChain is planning on changing the rules. Can you at least clarify that?

[2022-05-11 19:15] ContrarianUnderscoreUnderscore opened #263 ""Bitcoin rules" and future plans for BSV"
## Clarification needed on what "the Bitcoin rules ... will not change" means.

### Comments by nChain personnel
[According](https://github.com/bitcoin-sv/bitcoin-sv/issues/261#issuecomment-1121963581) to @Danconnolly , the "Bitcoin rules" will not change in the future.

[According](https://www.bailii.org/cgi-bin/format.cgi?doc=/ew/cases/EWHC/Ch/2022/667.html) to Craig Wright, nChain is planning o

[2022-05-11 19:19] Danconnolly commented on #262
It is very helpful. You are asking advice about a legal document. I am not a lawyer. This forum (the github issue feature) is for technical issues and advice, not legal ones. It would be wise that if you wanted legal advice about a legal document that you consult a legal expert, and preferably an independent one.

nChain do not own this software, it is owned by the Bitcoin Association.

[2022-05-11 19:23] ContrarianUnderscoreUnderscore commented on #262
I am asking a technical question about an assertion *you* made. Ignore the license for a moment and at least answer whether there are any plans on changing consensus code in the future, please.

More directly: absent emergency, unforeseen bugfixes, will the consensus rules that this software follows (ie - the set of chains of blocks that the software will build upon) change in the future?

[2022-05-11 19:32] Danconnolly commented on #262
There is no concrete plan to re-enable OP_VER or add support for the original sighash algorithm.

[2022-05-11 19:34] ContrarianUnderscoreUnderscore commented on #262
In your statement about "the Bitcoin rules ... will not change ", is that the type of "rules" you were guaranteeing will not change?

Are there any plans for any future consensus-rule changes?

[2022-05-11 19:39] Danconnolly commented on #263
Duplicate

[2022-05-11 19:39] #263 closed

[2022-05-11 19:40] Danconnolly commented on #262
This is not the forum for these questions.

[2022-05-11 19:41] ContrarianUnderscoreUnderscore commented on #262
I don't understand. You said (in this forum) that the "Bitcoin rules ... will not change".

What did you mean by that, *precisely*?

[2022-05-12 18:21] ContrarianUnderscoreUnderscore opened #264 "Freezing and reassigning coins without corresponding private keys"
According to nChain Chief Scientist Craig Wright, nChain is actively working on updating this software to allow users to "recover" lost or stolen coins without needing the corresponding private keys:

<img width="676" alt="image" src="https://user-images.githubusercontent.com/35772929/168141725-365c23c3-8857-4453-846e-39fcd7944ea8.png">

<img width="613" alt="image" src="https://user-images.github

[2022-05-15 13:49] Danconnolly commented on #264
We have no comment on this topic.

[2022-05-15 13:49] #264 closed

[2022-05-15 14:37] baryon commented on #264
Bitcoin is a consensus currency. It grew up with all kinds of threats. Even if Dr. CSW wins a case in one country, it does not mean that BSV is subject to a particular judgment in other countries. Otherwise, BSV will lose consensus, meaning the collapse of community and price.

[2022-05-20 15:25] lijianl opened #265 "error for start"
when will you solve this problem

[code]

[code]

[2022-07-06 13:52] #253 closed

[2022-07-06 13:54] #265 closed

[2022-07-07 07:08] Ljzn opened #266 "Block stuck at 000000000000000006928e625d82ff1ab1f2731fd57f7cde5be0ac6e12d806c9"
### Describe the issue

use json-rpc: `getbestblockhash`, always return

[code]

### Screenshots.

result of "getinfo":

[code]

[2022-07-07 07:42] Ljzn commented on #266
"getpeerinfo" shows my node connects with non-bsv nodes:

[code]

how to reject them?

[2022-07-07 13:45] #266 closed

[2022-07-07 16:09] Danconnolly commented on #266
5TB might fit but if it does then it wont last long.

What version are you using? Version 1.0.10 and above automatically prevent some bitcoin cash nodes from connecting.

[2022-07-20 06:56] taimurworks98 opened #267 "how to get bsv testnet faucets"
I can't find any place to get testnet faucets for BSV, all available links seem dead to me.
Is there any platform that still provides faucets for BSV?
My testnet address is: n3RyLTQsvnHRKGRhf6DV6UAwua6cqfDJzp (Sensilet Wallet)

[2022-07-21 06:55] Danconnolly commented on #267
Try https://testnet.satoshisvision.network/.

[2022-07-21 10:29] #267 closed

[2022-08-06 07:49] david739 opened #268 "ubuntu 20.04 error"
hello I'm installing on ubuntu 20.04 here is the installation procedure but I have an error can someone tell me what's wrong thank you

sudo apt-get install build-essential libtool autotools-dev automake pkg-config libssl-dev libevent-dev bsdmainutils
sudo apt-get install libboost-system-dev libboost-filesystem-dev libboost-chrono-dev libboost-program-options-dev libboost-
sudo apt-get install lib

[2022-08-06 08:19] david739 commented on #268
how do i turn it off i can't start bitcoind --daemon

~/bsv/src$ bitcoind --daemon
Mandatory consensus parameter is not set. In order to start bitcoind you must set the following consensus parameters: "excessiveblocksize" and "maxstackmemoryusageconsensus". In order to start bitcoind with no limits you can set both of these parameters to 0 however it is strongly recommended to ensure you understan

[2022-08-08 08:49] david739 commented on #268
hello, is there anyone here, are you telling me that there is no one here who can get bitcoin-sv working in ubuntu

[2022-08-08 10:51] matra774 commented on #268
@david739  As error message specifies, you need to set mandatory parameters. Check the documentation here: https://node.bitcoinsv.io/sv-node/settings#mandatory-settings

[2022-08-08 17:44] david739 commented on #268
hi, thanks for the documentation, I'll read it, but can you please give me some commands to start it up?

[2022-08-08 19:51] matra774 commented on #268
Specify mandatory settings listed in the link that I provided  (excessiveblocksize, maxstackmemoryusageconsensus) on command line or configuration file.

[2022-08-09 12:59] david739 commented on #268
hello, thanks, but I'm probably blind, how to open the command line of sv node in ubuntu

[2022-08-10 11:56] Danconnolly commented on #268
`./bitcoind  -excessiveblocksize=10GB -maxstackmemoryusageconsensus=200MB -minminingtxfee=0.00000050`

[2022-08-11 07:12] prashant-1926 opened #269 "Bitcoin-SV sync too slow"
### Describe the issue
We are running Bitcoin-SV full node from past some time but it is never able to sync fully. Recently we have updated to latest `Bitcoin SV RPC client version v1.0.11`. Still our node syncing speed is too slow. Here is a glimpse of `getblockchaininfo` showing how slow it is syncing:
01 Aug - 5pm:  734095/750778
02 Aug - 6pm:  734568/750935
03 Aug - 10am: 734568/751037
04 Aug

[2022-08-11 11:47] david739 opened #270 "bitcoind.service"
hi i am trying to run bitcoind.service but it is showing an error can someone help me please ubuntu ubuntu 18.04, 20.04

bitcoind.service

[Unit]
Description=Bitcoin service
After=network.target
[Service]
Type=forking
ExecStart=/home/pool/bitcoin/bin/bitcoind -conf=/home/pool/bitcoin-data/bitcoin.conf -datadir=/home/pool/bitcoin-data -daemon
ExecStop=/home/pool/bitcoin/bin/bitcoin-cli -conf=/home/

[2022-08-11 14:49] david739 commented on #268
thanks for the command it works now

[2022-08-13 09:21] lcgogo opened #271 "bcv node repeat restart"
v1.0.11

[code]

[2022-08-15 02:13] rena0531 opened #272 "How to get bsv testnet coins"
I can't find any bsv testnet faucets.

Can you send please any amount to:
1EfBULfe9GEjamwjsGfx6mwhge6s22US9j

Just need to test the execution of a transaction.
And you can also provide your address, I'll get your coins back to you after testing.

[2022-08-15 15:40] #272 closed

[2022-08-15 15:51] #268 closed

[2022-08-15 15:54] CassClark commented on #271
@lcgogo Do you happen to be able to provide a core dump and send us your syslog file?  If so, I can provide a secure method to do so.

[2022-08-15 16:01] CassClark commented on #269
@prashant-1926 It's looking like you may have a memory / cpu issue.  You mention you have 500GB RAM however state it's shared with other apps, this may be the cause.  Would you be able to provide a core dump along with your syslog file please and we can take a closer look for you?  If you have these and are happy to send them, let me know and I'll provide you with a secure method to share them.

[2022-08-15 17:24] CassClark commented on #238
@CharesFang

Following your report of the above issue, the development team are aware of the situation and will assess the risk and take relevant action.

Thanks for taking the time to provide feedback - it's much appreciated.

[2022-08-15 17:24] #238 closed

[2022-08-15 17:38] CassClark commented on #237
@CharesFang

Please be advised that Bloom filters are disabled in the 1.0.11 release.

Release notes: "Disable Bloom filtered connection by default"

https://www.bitcoinsv.io/releases/bitcoin-sv-node-software-v1-0-11

[2022-08-15 17:38] #237 closed

[2022-08-15 17:42] CassClark commented on #269
Internal Ticket raised: SVN-1991

[2022-08-15 17:43] CassClark commented on #270
Internal Ticket raised: SVN-1992

[2022-08-15 17:43] CassClark commented on #271
Internal Ticket raised: SVN-1993

[2022-08-15 17:54] CassClark commented on #258
Internal ticket raised to track issue: SVN-1995

[2022-08-16 01:23] rena0531 commented on #272
many thanks

[2022-08-16 05:46] prashant-1926 commented on #269
@CassClark Thanks for your reply. Though the RAM is shared among other apps, I doubt it is of issue. I am also sharing a screengrab of `htop` command for BSV daemon:

![BSV htop](https://user-images.githubusercontent.com/14271937/184805766-69495447-d100-4d01-a63a-d760b864f893.png)

By syslog and dump, do you mean BSV logs generated in its datadir or any other log file?

[2022-08-16 17:47] CassClark commented on #269
@prashant-1926  thanks for your reply & screenshot.

Syslog - the system log written by the OS. If the application did run out of memory, you should have an entry in the syslog. It will help us investigate and rule out any memory issues.

A core dump file will only be present if the app has crashed and (your OS is setup for core dumps), so this may or may not be relevant to you.

Could you also se

[2022-08-18 05:29] prashant-1926 commented on #269
@CassClark Thanks for the explanation.

As we are using CentOS, equivalent of `syslog` was `/var/log/messages`. I've checked it thoroughly and there is no entry regarding memory, bitcoin and bitcoin-sv.

`coredump` folder in our case is also empty.

Today our node's current height has reached to 753115/753203. So, we can expect it to get fully synced by tomorrow, though it has taken a very long ti

[2022-08-22 16:14] CassClark commented on #270
@david739 would you be able to provide further information please to help us investigate?
https://github.com/bitcoin-sv/bitcoin-sv/wiki/Data-required-by-Support

[2022-08-23 10:04] CassClark commented on #269
@prashant-1926 glad to hear it's sync'd.

[2022-08-23 10:04] #269 closed

[2022-08-25 15:58] a2534116 opened #273 "99"
999

[2022-08-25 16:16] matra774 commented on #273
closing, since it looks like a mistake. @a2534116  you can reopen and provide more info...

[2022-08-25 16:17] #273 closed

[2022-08-29 04:11] Ljzn opened #274 "-26_66: mempool min fee not met"
### Describe the issue

### Expected behaviour

Use bitcoin-sv node to broadcast this tx https://whatsonchain.com/tx/3ee3e91778a66e813ff0085af08ddb8314bd73208c39f5af89acee9633f97b5f

### Actual behaviour

Returns "-26_66: mempool min fee not met" , then we have to use the WoC api to broadcast it.

### What version of bitcoin-sv are you using?

1.0.10

[2022-09-01 15:50] maayank opened #275 "Node stuck at height 755241"
Our node is stuck for the last hour at block 755241, while we see peers with 755279 blocks.

getnetworkinfo:
[code]

getblockchaininfo:
[code]

Are others experiencing the same? What steps can we take to debug and solve this issue?

[2022-09-01 16:33] Danconnolly commented on #275
Can you please supply recent log?

Also there is a diagnostic script (https://github.com/bitcoin-sv/bitcoin-sv/tree/master/contrib/diagnostic) that you can run. It will collect  important information that can help with diagnosing the issue.

The next block is large, 4GB. Can you please check your excessiveblocksize setting?

[2022-09-01 16:52] maayank commented on #275
@Danconnolly , excessiveblocksize=100000000000.

We've solved it for now (not fully - still syncing and not at head, but there's progress) - what happened was that there was a limit of 16GB for the docker container containing the node and with the large blocks it reached that limit and killed the process. We've increased the memory of the instance and the limit.

[2022-09-01 16:52] #275 closed

[2022-09-01 16:53] Danconnolly commented on #275
Thank you for replying and closing the ticket.

That's an interesting cause, we'll make a note of that.

[2022-09-02 05:42] prashant-1926 commented on #269
Our node again stuck at `block height: 754082` :
[code]

Here is `bitcoind.log` output:
[code]

Output of `getnetworkinfo`:
[code]

`excessiveblocksize=200000000000`

Any help pls.

[2022-09-06 11:58] prashant-1926 opened #276 "Node stuck at block height: 754082"
This is in continuation to my previous post - https://github.com/bitcoin-sv/bitcoin-sv/issues/269

Our node is again stuck at `block height: 754082` from almost two weeks:
[code]

Here is `bitcoind.log` output:
[code]

Output of `getnetworkinfo`:
[code]

`excessiveblocksize=200000000000`

Any help pls.

[2022-09-07 21:07] PinkDiamond1 opened #277 "New.me"
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.

[2022-09-09 00:49] cdluv commented on #276
You might want to try invalidating that block.

[2022-09-11 05:18] Ljzn opened #279 "Test `bsv-donotcheck-relay-collision.py` failed"
### Describe the issue

Test `bsv-donotcheck-relay-collision.py`  failed.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:

configure with these labels:
[code]

after compiled, run test with `./test/functional/test_runner.py`

### Expected behaviour

no failed test

### Actual behaviour

test failed

### Screenshots.

[code]

### What version of bitc

[2022-09-12 00:27] Ljzn commented on #279
Can't reproduce, may be just an accident.

[2022-09-12 06:37] prashant-1926 commented on #276
@cdluv How to invalidate a block? I'm unaware of doing it..  Can you pls help by elaborating it a bit more.

[2022-09-13 23:03] cdluv commented on #276
You'll need to look at the RPC API.   "getnetworkinfo" is one such call, so you're already using the API.   It will tell you how to invalidate a block - and the call is probably "invalidateblock"?   I might be wrong!   IIRC, as you peer is stuck on a block, as it was likely to be syncing with a competing chain that no longer exists, and the hashes of the subsequent block, don't make sense to the p

[2022-09-16 10:39] #279 closed

[2022-09-16 11:55] prashant-1926 commented on #276
Thank you for the inputs. I tried with `invalidateblock` but of no use, node was still stuck at the same block `754081` for many days. Now, getting a clue from second link you have shared, I'm re-indexing the blocks, hope it may help solve the problem. Right now it is at the the tip `724939/753222`.

[2022-09-20 12:00] pfromberg commented on #276
invalidateblock is not meant for this purpose. This issue is often related to inadequate hardware. See also this article in the Knowledge Base: [Unable to complete Initial Block Download (IBD)](https://github.com/bitcoin-sv/bitcoin-sv/wiki/Node-Knowledge-Base#Unable-to-complete-Initial-Block-Download-IBD)
GitHubGitHub [Node Knowledge Base · bitcoin-sv/bitcoin-sv Wiki](https://github.com/bitcoin-sv

[2022-09-20 12:08] pfromberg commented on #274
This means your mempool was full at some point. The mempool acceptance fee will decay automatically. But you can speed up the process by restarting the node.

[2022-09-20 12:17] pfromberg commented on #271
Looks like the node ran out of memory. Log file stops just after "Pre-allocating up to position 0xef000000 in blk24244.dat".

[2022-09-20 14:23] #277 closed

[2022-09-20 17:56] pfromberg commented on #258
A workaround exists. A fix to this issue is now scheduled for future development

[2022-09-30 08:20] Ljzn commented on #274
Maybe this mechanism can be removed? I don't think the local node's mempool status should affect the transactions being broadcast to other nodes.

[2022-10-08 04:51] Danconnolly opened #281 "Enable txindex in pruned mode"
We've had a feature request to enable the txindex in pruned mode. This ticket documents this request and will document our response. Comments and support for this feature are welcomed.

Pruned mode is a configuration of the node software that removes older block data. This can be used to reduce the amount of disk storage that is required to run the node software. For example, pruned mode can be co

[2022-10-13 19:58] Har01d opened #282 "REST API speed issue"
Hello,

We're running v.1.0.11.

At some point a couple of months or so ago we started to receive some complaints from our users that our explorer (Blockchair) is not keeping up with the blockchain. Upon further investigation we've learned the following. In some cases for very large blocks (4 GB) the `/rest/block/{:hash}.json` endpoint produces a response which is more than 22 GB in size. When we

[2022-10-13 20:57] eloo0073 commented on #282
Do not worry about it Nikita, team BSV is working on your solution...  the
/rest/block/{:hash}.json command will only reproduce the same outcome.
Please standby while we work on a solution if not already resolved... we
are committed to BSV becoming a solution to any p2p payment system and that
is our original  commitment.

On Thu, Oct 13, 2022, 3:58 PM Nikita Zhavoronkov ***@***.***>
wrote:

[2022-10-14 15:21] pfromberg commented on #281
Can someone add one or more use cases for this feature?

[2022-10-14 15:49] #258 closed, assigned to Danconnolly

[2022-10-14 15:52] #276 closed

[2022-10-14 16:06] #274 closed

[2022-10-14 16:07] #271 closed

[2022-10-14 16:07] #270 closed

[2022-10-16 16:13] Ljzn commented on #282
@Har01d You could consider using `.bin` to download the binary block.

[2022-10-18 04:49] hotcoin-walle commented on #281
+1 we also need this enhancement

[2022-10-18 06:03] hotcoin-walle commented on #281
we use bitcoind to manage all utxo(only read mode).
txindex=1
if the a transaction not belong to any address we import to our node we will get null by  getTransaction.
{"result":null,"error":{"code":-5,"message":"Invalid or non-wallet transaction id"},"id":1}

In this case, we can simply identify whether the transaction belongs to the address we imported.
We need such a feature rather than a getra

[2022-10-31 09:56] TinosNitso opened #283 "`#include <mutex>` needed in `txn_util.h` & `txn_recent_rejects.h`"
### Describe the issue
Somewhere near line 10 both [txn_util.h](https://github.com/bitcoin-sv/bitcoin-sv/blob/master/src/txn_util.h) & [txn_recent_rejects.h](https://github.com/bitcoin-sv/bitcoin-sv/blob/master/src/txn_recent_rejects.h) need an extra line:
`#include <mutex>`

Otherwise when I go to build I get a whole bunch of errors, with specific advice that the line should be added. The errors

[2022-11-10 08:30] ZoideNFT opened #285 "IBD time performance"
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue
I was trying to setup a node with version 11 many times and atm I can't finish the initial block dow

[2022-11-11 11:05] pfromberg commented on #285
You will need at least 64GB of RAM but even then you will be swapping a bit.

250GB Disk Space is not even enough in pruning mode. Your configuration suggests you are not pruning. With a pruning node you will need at least 500GB and without pruning 10TB and that number will increase in a few month.

We will implement measures to improve IBD speed in the near future but the minimum hardware require

[2022-11-17 12:43] CassClark commented on #285
resolved - closing ticket.

[2022-11-17 12:43] #285 closed

[2022-11-17 13:53] pfromberg commented on #283
Hi Tinos,

your problem suggests you have configured an environment that is very unusual on Ubuntu. I expect to see those errors on Suse which we do not support.  I will make sure those mentioned headers will be included in the next version we deploy.

--disable-hardening is ok for debugging but it makes a production system less safe.

What compiler version are you using?

Thanks publishing this i

[2022-11-17 17:16] TinosNitso commented on #283
Thanks, I've successfully built & run v1.0.13 without any issue, but I still used `--disable-hardening`. Maybe for a future release I'll try without it. I'm using gcc 11.2.0.

[2022-11-17 17:16] #283 closed

[2022-11-17 17:30] pfromberg commented on #283
Can you give me the exact error message emitted by ./configure when you remove the --disable-hardening option?

[2022-11-17 18:38] TinosNitso commented on #283
I just went over the whole build again & have verified the latest version builds fine  without `--disable-hardening`. 🙂

However the files come out a much smaller size after running `strip *`. e.g. comparing official & my results I get
bitcoind   14.7MB  8.5MB
bitcoin-cli  4.6MB  0.7MB
bitcoin-tx  4.9MB  1.3MB

Maybe they're stripped differently.

[2022-11-17 18:45] pfromberg commented on #283
Thanks for the update Tino. We do not strip the debug information just in case we need that information to inspect a core dump.

[2022-11-17 20:10] pfromberg commented on #283
Thanks for the update Tino. You may be linking some libraries dynamically which the gitian build links statically.

[2022-11-22 16:31] ZoideNFT opened #286 "Low space error"
This issue tracker is only for technical issues related to bitcoin-sv.

General bitcoin questions and/or support requests and are best directed to the [Bitcoin StackExchange](https://bitcoin.stackexchange.com).

For reporting security issues, please contact people privately.

### Describe the issue
Hi guys, trying to upgrade from 11 to 13 stranger things happened.  I shutted down  the node properl

[2022-11-23 08:09] pfromberg commented on #286
Hi Juan,

This is not necessarily a problem with the bitcoinsv node. Could you mount the NAS drive via SMB instead of NFS just to check if there is no error in the NFS layer? Also can you check if the NAS server does not have a very old operating system? I know the issues you described occasionally happened in the system layers a few years ago.

Following issues are unrelated but I want to mention

[2022-11-23 15:32] ZoideNFT commented on #286
Hi pfromberg ,

Same problem using SMB. I've tried to rename bitcoin-data to bitcoin-data_old, created a empty bitcoin-data folder and placed the config file into it. It works, it start the IBD from 0 (obviously) and runs great. With this test, I conclude (maybe) that there is no issue with the storage unless there are not a hidden limit/trigger in the code for.. security reasons.. ¿maybe? don't k

[2022-11-23 15:52] CassClark commented on #286
Internal Note:
this issue has been linked to SVN-2080

[2022-11-23 15:59] pfromberg commented on #286
Thanks for those tests Juan. So I close this ticket assuming it is a problem with the used hardware.

[2022-11-23 16:02] pfromberg commented on #286
Thanks for the new tests Juan. I am not completely sure what you mean. The problem dissapeared?

[2022-11-23 16:23] ZoideNFT commented on #286
No, it not, I tested it with empty folder etc... But when I start it from the original bitcoin-data (the one in wich the node has downloaded 3.5TB blocks) the issue persists.

[2022-11-23 16:24] ZoideNFT commented on #286
I'm not compiled the code. I'm using the compiled one.

[2022-11-24 11:48] Danconnolly commented on #286
You'll get much better performance if you only move the blocks sub-directory to the NAS and keep the remaining directories locally, on SSD preferably.

[2022-11-24 14:52] CassClark commented on #286
hi Juan ( @ZoideNFT )

Please be advised we have produced a tar.gz file for you.  Please use the download link below.   Password to open the file is bsvgithub286.  The download will expire in 14days.

https://share.nchain.network/f/c4c1c13de9984683a14a/?dl=1

[2022-11-24 15:19] pfromberg commented on #286
Just to add to the comment from Cass. The build in the download link does not fix any problem but prints more comprehensive information when you get the same disk-full message again. When you run with that build and the same error displays again, can you please post it here? The printout will print the free and available memory separately.

[2022-11-26 18:36] ZoideNFT commented on #286
Hi guys, I've tested your build and it shows this:

![image](https://user-images.githubusercontent.com/117897120/204103871-b2e668eb-c841-4cfb-af67-2c4aae34c799.png)

I'm not sure how to understand the data it shows. "additionalbytes"?

thanks!

[2022-11-28 08:48] pfromberg commented on #286
Hi Juan. Thanks a lot for investing the time to produce these logs. This is very helpful. We will investigate with priority.